dist/
site/
debian/gtasks-panel/
debian/.debhelper/
debian/files
debian/*.substvars
debian/debhelper-build-stamp
debian/*.debhelper.log
__pycache__/
.pytest_cache/
*.deb
*.buildinfo
*.changes
share/client_secret.json
